.alert {
  padding: 20px;
}

.error {
  background-color: #f44336;
  color: white;
}

.warning {
  background-color: yellow;
  color: white;
}

.success {
  background-color: green;
  color: wheat;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
